[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
scikit-learn = "==1.3.*"
xgboost = "*"
seaborn = "*"
matplotlib = "*"
imblearn = "*"
pyqtgraph= "*"
statsmodels = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
